<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25E246</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Tono</string>
	<key>CFBundleExecutable</key>
	<string>Tono</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.raydocs.tono</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tono</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.47</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.raydocs.tono</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tono</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>47</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25F70</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.5</string>
	<key>DTSDKBuild</key>
	<string>25F70</string>
	<key>DTSDKName</key>
	<string>macosx26.5</string>
	<key>DTXcode</key>
	<string>2660</string>
	<key>DTXcodeBuild</key>
	<string>17F113</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.3</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://api.afk.ccwu.cc/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>uOGYz+x/v6Q8X73dlBY2BHZhBpV7jghAfum980nBiAQ=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>21600</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>TonoAPIBaseURL</key>
	<string>https://api.afk.ccwu.cc</string>
	<key>TonoAPIBootstrapAddresses</key>
	<array>
		<string>104.20.26.170</string>
		<string>172.66.162.98</string>
	</array>
</dict>
</plist>
